<html>

<head>
  <title>

    <%= title %>

  </title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>

<body>
  <section class="container app">
    <h1 align="center">TODO APP</h1>

    <!-- form to create task -->
    <form action="/create-task" method="POST">

      <table class="table">
        <thead>
          <tr class="table-active">
            <th>DESCRIPTION</th>
            <th>CATEGORY</th>
            <th>DATE</th>
            <th>ADD TASK</th>
          </tr>
        </thead>


        <tbody>
          <tr>
            <td> <input type="text" name="description" placeholder="What do you need to do?" required></input></th>
            <td> <select name="category" required>

                <option>PERSONAL</option>
                <option>PROFESSIONAL</option>
                <option>ACADEMIC</option>
                <option>SOCIAL</option>
                <option>OTHER</option>

              </select></th>
            <td> <input type="date" name="date" required></th>
            <td><input type="submit" class="btn btn-success" id="add" value="ADD TASK"></th>
          </tr>
        </tbody>

      </table>

    </form>
  </section>
  <div >
    <h1 align="center">TASKS LIST</h1>

    <div class="tasklist">
    <form action="/delete-task" method="GET" >
      <table class="table">
        <thead>
          <tr>
            <th>Select</th>
            <th>Task</th>
            <th>Category</th>
            <th>Due Date</th>
          </tr>
        </thead>
        <% for(let i of task) { %>


          <tr>

            <td> <input type="checkbox" name="<%= i._id %>"></td>
            <td>
              <p id="task-description">
                <div class="card" style="width: 18rem;">
                  <div class="card-body">
                    <p class="card-text"><%= i.description %></p>
                  </div>
                </div>
                
            </td>
            <td>
              <p id="task-category"></p> <%= i.category %>
            </td>
            <td>
              <p id="due-date"></p> <%= i.date %>
              
            </td>
          </tr>


          <% } %>




      </table>
    </div>
      
      <div align="center"><input type="submit" class="btn btn-danger" value="DELETE TASK">
      </div>
    </form>


  </div>
</body>

</html>